# Ignorar todas las imágenes en projects excepto los archivos que necesitas
!public/assets/common/img/projects/*
!public/assets/common/img/projects/.gitkeep
!public/assets/common/img/projects/*

# Ignorar todos los archivos en cv excepto los archivos que necesitas
!public/assets/common/cv/*
!public/assets/common/cv/.gitkeep
!public/assets/common/cv/*

# Ignorar todas las demás configuraciones innecesarias
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
storage/installed
